---
import Page from "../components/Page.astro";
---

<Page title="Xavier Enos's Portfolio">
  <h1>
    Xavier Enos's Portfolio
  </h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    <ul>
  </nav>
  <h2>About Me</h2>
  <p> My name is Xavier and I have an interest in Horror genres in videogames and other media.  
  I am a self taught intermediate artist and writer.  
  My dream is to become a game developer one day, and hopefully go to college for Computer Science.</p>
</Page>
