---
import Page from "../components/Page.astro";
---

<Page title="Xavier Enos's Portfolio">
  <div data-aos="fade-right">
  <h1>
    Xavier Enos's Portfolio
  </h1>
  </div>
  <div data-aos="fade-right">
  <h2>Project Menu</h2>
  </div>
  <nav>
    <ul>
     <div data-aos="fade-right"> 
     <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li> 
      </div>
      <!-- More projects to come soon! -->
    <ul>
  </nav>
  <div data-aos="fade-right">
  <h2>About Me</h2>
  </div>
   <div data-aos="fade-right">
   <p> My name is Xavier and I have an interest in Horror genres in videogames and other media.  
  I am a self taught intermediate artist and writer.  
  My dream is to become a game developer one day, and hopefully go to college for Computer Science.</p>
  </div>
</Page>
