---
import Project from "../../components/Project.astro"
---

<Project
  title="Gravity Falls Personality Quiz"
  assignment="We were required to create a program built on the concept of binary search, me and my partner decided to create a personality quiz based on Alex Hirsch's Gravity Falls."
>
  <p>This project was very fun to make and I'd love to make something similar some other day!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <div data-aos="zoom-in-up">
    <iframe 
    src="https://fleeber.rmamet.xyz/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
    ></iframe> 
  </div>

</Project>
