---
import Project from "../../components/Project.astro"
---

<Project
  title="Personal Portfolio Project"
  assignment="We were tasked to each make our own Portfolio of our now (and future) projects in order to display them as well as information about ourselves using Astro."
>
  <p>As of writing this, this is the project that I am currently working on. So far, it's a little difficult, but i'm figuring it out.</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <div data-aos="zoom-in-up">
    <iframe 
    src="https://probable-spoon-5g7vr9prjvjhp75x-4321.app.github.dev/"
    //*will add portfolio screenshot from imgur once project is visually finished. Removing the Gravity Falls Quiz.*// 
    title="Personality Quiz"
    width="100%"
    height="800px"
    ></iframe> 
  </div>

</Project>
